html {
  font-family: 'Lato', "Times New Roman", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapperHeader {
  width: 100%;
  height: 0;
  padding-bottom: 55%;
  background-image: url("../img/header_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

.flexHeader {
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  max-height: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .menu {
  align-self: center;
  padding-right: 20px;
}

.navbar .menu p {
  display: inline-block;
  margin-right: 20px;
  color: white;
  font-weight: bold;
}

.mainTitle {
  max-width: 460px;
  max-height: 330px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.mainTitle h3 {
  font-family: "Times New Roman";
  font-size: 36px;
  line-height: 0px;
  margin-bottom: 100px;
  opacity: 0.7;
  letter-spacing: 3px;
  font-style: italic;
}

.mainTitle h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 0px;
  letter-spacing: 10px;
}

.mainTitle h6 {
  font-size: 14px;
  font-weight: bold;
  line-height: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mainTitle h6 span {
  text-decoration: underline;
}

.mainTitle .button {
  font-size: 18px;
  max-width: 280px;
  width: 100%;
  border: 1px solid gray;
  margin: 0 auto;
}

.wrapperFeatures {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 435px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.flexFeatures {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 5px;
}

.feature {
  text-align: center;
  width: 33%;
}

.feature img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.feature h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0;
}

.feature hr {
  border: 1px solid red;
  width: 20%;
}

.feature p {
  font-size: 16px;
}

.wrapperDescription {
  width: 100%;
  background-color: #f0ece9;
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 875px;
}

.flexDescription {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 5px;
  align-items: center;
}

.flexDescription .phone {
  width: 50%;
  height: 0;
  padding-bottom: 58.34254%;
  padding-top: 2%;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.flexDescription .text {
  width: 50%;
}

.flexDescription h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0;
}

.flexDescription hr {
  border: 1px solid red;
  width: 20%;
  float: left;
}

.flexDescription p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

.wrapperReviews {
  width: 100%;
  height: 0;
  padding-bottom: 28.75%;
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 460px;
  background-image: url("../img/reviews_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.flexReviews {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.flexReviews .photo {
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  border-radius: 50%;
  background-image: url(../img/profile1.jpg);
  background-size: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 2%;
}

.flexReviews .review {
  margin-top: 2%;
}

.flexReviews .counter {
  margin-top: 2%;
  text-align: center;
}

.flexReviews .counter div {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.wrapperCuisines {
  width: 100%;
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.flexCuisines {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  width: 100%;
  justify-content: center;
  border: 1px solid red;
}

.cuisine {
  width: 20%;
  min-width: 320px;
  padding-bottom: 28.44444%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#italian {
  background-image: url("../img/italian.png");
}

#indian {
  background-image: url("../img/indian.png");
}

#french {
  background-image: url("../img/french.png");
}

#steakhouse {
  background-image: url("../img/steakhouse.png");
}

#seafood {
  background-image: url("../img/seafood.png");
}

#sushi {
  background-image: url("../img/sushi.png");
}

#mexican {
  background-image: url("../img/mexican.png");
}

#chinese {
  background-image: url("../img/chinese.png");
}

#pizza {
  background-image: url("../img/pizza.png");
}

#american {
  background-image: url("../img/american.png");
}
